services:
  app:
    build: .
    container_name: relatorio_app
    ports:
      - "5055:5055"
    volumes:
      - .:/app
    environment:
      - FLASK_ENV=production
      - DB_HOST=${DB_HOST}
      - DB_USER=${DB_USER}
      - DB_PASS=${DB_PASS}
      - DB_NAME=${DB_NAME}
   

volumes:
  db_data:
