<!DOCTYPE html>
<html>
<head>
    <title>Resultados</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='logofribal.png') }}">
</head>
<body class="p-4">

    <div class="header-container">
        <h2>Resultados<br>20 Linhas por Página </h2>
        <img src="{{ url_for('static', filename='logofribal.png') }}" 
             class="logo-fribal" alt="Logo Fribal">
    </div>

    {% if dados_paginados and dados_paginados|length > 0 %}

   <form action="{{ url_for('pedidos.exportar') }}" method="POST">
        <input type="hidden" name="loja" value="{{ loja }}">
        <input type="hidden" name="operacao" value="{{ operacao }}">
        <input type="hidden" name="data_ini" value="{{ data_ini }}">
        <input type="hidden" name="data_fim" value="{{ data_fim }}">
        
        <button type="submit" class="btn btn-success">Exportar CSV</button>
    </form>
    
    <a href="{{ url_for('pedidos.index') }}" class="btn btn-voltar">← Voltar</a>

    <nav>
        <ul class="pagination">
            {% if page > 1 %}
            <li class="page-item">
                <a class="page-link"
                   href="{{ url_for('pedidos.buscar', page=page-1, data_ini=data_ini, data_fim=data_fim, operacao=operacao) }}">
                   Anterior
                </a>
            </li>
            {% endif %}
            {% set total_pages = (total // per_page) + (1 if total % per_page else 0) %}
            {% for p in range(1, 4) %}
                {% if p <= total_pages %}
                <li class="page-item {% if p == page %}active{% endif %}">
                    <a class="page-link"
                       href="{{ url_for('pedidos.buscar', page=p, data_ini=data_ini, data_fim=data_fim, operacao=operacao) }}">
                       {{ p }}
                    </a>
                </li>
                {% endif %}
            {% endfor %}
            {% if page > 6 %}
            <li class="page-item disabled"><span class="page-link">...</span></li>
            {% endif %}

            {% for p in range(page - 2, page + 3) %}
                {% if 4 <= p <= total_pages - 3 %}
                <li class="page-item {% if p == page %}active{% endif %}">
                    <a class="page-link"
                       href="{{ url_for('pedidos.buscar', page=p, data_ini=data_ini, data_fim=data_fim, operacao=operacao) }}">
                       {{ p }}
                    </a>
                </li>
                {% endif %}
            {% endfor %}
            {% if page < total_pages - 5 %}
            <li class="page-item disabled"><span class="page-link">...</span></li>
            {% endif %}
            {% for p in range(total_pages - 2, total_pages + 1) %}
                {% if p > 0 %}
                <li class="page-item {% if p == page %}active{% endif %}">
                    <a class="page-link"
                       href="{{ url_for('pedidos.buscar', page=p, data_ini=data_ini, data_fim=data_fim, operacao=operacao) }}">
                       {{ p }}
                    </a>
                </li>
                {% endif %}
            {% endfor %}
            {% if page < total_pages %}
            <li class="page-item">
                <a class="page-link"
                   href="{{ url_for('pedidos.buscar', page=page+1, data_ini=data_ini, data_fim=data_fim, operacao=operacao) }}">
                   Próxima
                </a>
            </li>
            {% endif %}

        </ul>
    </nav>

    <div class="table-responsive">
        <table class="table table-bordered table-striped table-sm">
            <thead class="table-dark">
                <tr>
                    {% if dados and dados|length > 0 %}
                        {% for col in dados[0].keys() %}
                            <th>{{ col }}</th>
                        {% endfor %}
                    {% endif %}
                </tr>
            </thead>

            <tbody>
                {% for linha in dados_paginados %}
                <tr>
                    {% for valor in linha.values() %}
                    <td>
                        {% if valor is number %}
                            {{ "%.3f"|format(valor)|replace(".", ",") }}
                        {% else %}
                            {{ valor }}
                        {% endif %}
                    </td>
                    {% endfor %}
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    {% else %}
        <a href="{{ url_for('pedidos.index') }}" class="btn btn-voltar">← Voltar</a>
        <p class="text-danger fw-bold">Nenhum registro encontrado.</p>
    {% endif %}

</body>
</html>